openapi: 3.0.0
info:
  title: ODL-Info API
  description: Daten zur radioaktiven Belastung in Deutschland
  version: 0.0.1
servers:
  - url: https://odlinfo.bfs.de
components:
  schemas:
    Statistics:
      type: object
      properties:
        betriebsbereit:
          type: number
          example: 1728
          description: Anzahl betriebsbereiter Messstationen
        mwavg:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert aller Stationen
            t:
              type: string
              description: Zeitstempel Tag
        mwmin:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert
            kenn:
              type: string
              example: '010020002'
              description: Kennnummer der Station mit dem kleinsten Tagesmittelwert
        mwmax:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert
            kenn:
              type: string
              example: '010020002'
              description: Kennnummer der Station mit dem höchsten Tagesmittelwert
    StationValues:
      type: object
      description: Messwerte und Spezifikation einer Messstation.
      properties:
        stamm:
          $ref: '#/components/schemas/Station'
        
    Station:
      type: object
      description: Spezifikation einer Messstation.
      properties:
        ort:
          type: string
          example: Saarbrücken-Gersweiler
          description: Ortsname
        kid:
          type: number
          enum: [1, 2, 3, 4, 5, 6]
          example: 4
          description: Messnetzknoten-ID der Station (1 = Freiburg, 2 = Berlin, 3 = München, 4 = Bonn, 5 = Salzgitter, 6 = Rendsburg)
        imis:
          type: string
          example: Z1877
          description: IMIS-ID
        status:
          type: number
          example: 1
          enum: [0, 1, 128, 2048]
          description: Zustand der Station (0 = defekt, 1 = in Betrieb, 128 = Testbetrieb, 2048 = Wartung)
        hoehe:
          type: number
          example: 240
          description: Höhe der Station über NN
        lon:
          type: number
          example: 6.93
          description: Längengrad
        mw:
          type: number
          example: 0.104
          description: Aktueller Messwert in µSv/h
        lat:
          type: number
          example: 49.24
          description: Breitengrad
        plz:
          type: string
          example: 66128
          description: PLZ
      
paths:
  /json/stat.json:
    get:
      summary: Statistiken zu den Messstationen.
      repsonses:
        '200':
          example:
            betriebsbereit: 1728
            mwavg:
              mw: '0.090'
              t: '2016-04-04'
            mwmax:
              mw: 0.178
              kenn: '083370490'
            mwmin:
              mw: 0.042
              kenn: '010020002'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
                  
                      
  /json/stamm.json:
    get:
      summary: Liste aller verfügbaren Messstationen.
      responses:
        '200':
          description: JSON-Objekt der verfügbaren Messstationen
          example:
            '100411002':
              ort: Saarbrücken-Gersweiler
              kid: 4
              imis: Z1877
              status: 1
              hoehe: 240
              lon: 6.93
              mw: 0.104
              lat: 49.24
              plz: '66128'
          content:
            application/json:
              schema: 
                type: object
                patternProperties:
                  '[0-9]{9}':
                    $ref: '#/components/schemas/Station'