openapi: 3.0.0
info:
  title: ODL-Info API
  description: Daten zur radioaktiven Belastung in Deutschland
  version: 0.0.1
servers:
  - url: https://odlinfo.bfs.de
components:
  schemas:
    Statistics:
      type: object
      properties:
        betriebsbereit:
          type: number
          example: 1728
          description: Anzahl betriebsbereiter Messstationen
        mwavg:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert aller Stationen
            t:
              type: string
              description: Zeitstempel Tag
        mwmin:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert
            kenn:
              type: string
              example: '010020002'
              description: Kennnummer der Station mit dem kleinsten Tagesmittelwert
        mwmax:
          type: object
          properties:
            mw:
              type: number
              example: 0.090
              description: Tagesmittelwert
            kenn:
              type: string
              example: '010020002'
              description: Kennnummer der Station mit dem höchsten Tagesmittelwert
    BasicTimeSeries:
      type: object
      description: Grundlegende Zeitreihe (Zeitstempel und Strahlungsmesswerte).
      properties:
        t:
          type: array
          description: UTC-Zeitstempel der Messwerte
          items:
            type: string
        mw:
          type: array
          description: Messwerte in µSv/h
          items:
            type: number
    ExtendedTimeSeries:
      type: object
      description: Erweiterte Zeitreihe mit Prüfstatus und Niederschlagswahrscheinlichkeiten.
      allOf:
        - $ref: '#/components/schemas/BasicTimeSeries'
      properties:
        ps:
          type: array
          description: Prüfstatus der Messwerte. Ein Status ungleich 0 zeigt einen Messwert an, der auffällig ist und überprüft werden muss
          items:
            type: number
        tr:
          type: array
          description: Zeitstempel zu den Niederschlagswahrscheinlichkeiten
          items:
            type: number
        r:
          type: array
          description: Regenwahrscheinlichkeit
          items:
            type: number
    CosmicTimeSeries:
      type: object
      description: Erweiterte Zeitreihe mit kosmischen Messwerten.
      allOf:
        - $ref: '#/components/schemas/ExtendedTimeSeries'
      properties:
        cos:
          type: array
          description: Kosmischer Anteil des Messwertes in µSv/h
          items:
            type: number
        ter:
          type: array
          description: Terrestrischer Anteil des Messwertes in µSv/h
          items:
            type: number
    Station:
      type: object
      description: Spezifikation einer Messstation.
      properties:
        ort:
          type: string
          example: Saarbrücken-Gersweiler
          description: Ortsname
        kid:
          type: number
          enum: [1, 2, 3, 4, 5, 6]
          example: 4
          description: Messnetzknoten-ID der Station (1 = Freiburg, 2 = Berlin, 3 = München, 4 = Bonn, 5 = Salzgitter, 6 = Rendsburg)
        imis:
          type: string
          example: Z1877
          description: IMIS-ID
        status:
          type: number
          example: 1
          enum: [0, 1, 128, 2048]
          description: Zustand der Station (0 = defekt, 1 = in Betrieb, 128 = Testbetrieb, 2048 = Wartung)
        hoehe:
          type: number
          example: 240
          description: Höhe der Station über NN
        lon:
          type: number
          example: 6.93
          description: Längengrad
        mw:
          type: number
          example: 0.104
          description: Aktueller Messwert in µSv/h
        lat:
          type: number
          example: 49.24
          description: Breitengrad
        plz:
          type: string
          example: 66128
          description: PLZ
      
paths:
  /json/stat.json:
    get:
      summary: Statistiken zu den Messstationen.
      responses:
        '200':
          description: Erfolgreicher Abruf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
                  
                      
  /json/stamm.json:
    get:
      summary: Liste aller verfügbaren Messstationen.
      responses:
        '200':
          description: JSON-Objekt der verfügbaren Messstationen
  /json/{id}.json:
    get:
      summary: Stammdaten und Zeitreihen zu einer bestimmten Messstation.
      parameters:
      - in: path
        name: id
        schema:
          type: integer
          example: 097741851
        required: true
        description: ID der Messstation
      responses:
        '200':
          description: Erfolgreicher Abruf
          content:
            application/json:
              schema:
                type: object
                properties:
                  stamm:
                    $ref: '#/components/schemas/Station'
                  mw1h:
                    description: Stündliche Mittelwerte
                    $ref: '#/components/schemas/ExtendedTimeSeries'
                  mw24h:
                    description: Tägliche Mittelwerte
                    $ref: '#/components/schemas/BasicTimeSeries'

  /json/{id}ct.json:
    get:
      summary: Stammdaten und Zeitreihen zu einer bestimmten Messstation inklusive kosmisch-terrestrischer Daten.
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 097741851
          required: true
          description: ID der Messstation
      responses:
        '200':
          description: Erfolgreicher Abruf
          content:
            application/json:
              schema:
                type: object
                properties:
                  stamm:
                    $ref: '#/components/schemas/Station'
                  mw1h:
                    description: Stündliche Mittelwerte
                    $ref: '#/components/schemas/CosmicTimeSeries'
                  mw24h:
                    description: Tägliche Mittelwerte
                    $ref: '#/components/schemas/BasicTimeSeries' 
          
